{% extends "!page.html" %}

{% block header %}                
<!--div style="display:flex;justify-content:space-between;align-items:center;background:#002D72;color:white;padding:0px;"-->
<div class="site-header">
	<div>
		<a href="index.html" alt="CCB"><img src="/www.ccb.jhu.edu/_static/Logos/ccblogo_breathable_transparent_100.png" alt="CCB"></a>
	</div>

	<div>
		<a href="https://engineering.jhu.edu/" alt="WSE"><img src="/www.ccb.jhu.edu/_static/Logos/WSE.logo.rgb_vertical.white_100.png"  alt="WSE"></a>
	</div>
</div>
{% endblock %}


{% block footer %}
<div class="site-footer">
        <div>
                <a href="https://www.hopkinsmedicine.org/som/" alt="CCB"><img src="/www.ccb.jhu.edu/_static/Logos/SOM.logo.rgb_vertical.white_100.png" alt="SOM"></a>
        </div>

        <div>
                <a href="https://publichealth.jhu.edu/" alt="BSPH"><img src="/www.ccb.jhu.edu/_static/Logos/BSPH.logo.rgb_vertical.white_100.png"  alt="BSPH"></a>
        </div>
</div>
{% endblock %}
