{% extends "!page.html" %}

{% block extrahead %}
  {{ super() }}
  <meta name="description" content="Center for Computational Biology at Johns Hopkins University supporting research, computing, and collaboration.">
  <meta name="author" content="Daniela Puiu">
  <meta name="robots" content="index, follow">
{% endblock %}

{% block docs_navbar %}
    {{ super() }}

    {% if pagename == "index" %}
    <div class="hero-banner">
	<picture>
          <source media="(max-width: 400px)" srcset="{{ pathto('_static/images/campus2-phone.webp', 1) }}">
	  <source media="(max-width: 800px)" srcset="{{ pathto('_static/images/campus2-tablet.webp', 1) }}">
  	  <img src="{{ pathto('_static/images/campus2-desktop.webp', 1) }}" alt="Johns Hopkins campus">
	</picture>

        <div class="hero-text">
          <b>JOHNS HOPKINS UNIVERSITY</b><br>
          Center for Computational Biology
        </div>

    </div>
    {% endif %}
{% endblock docs_navbar %}


{% block footer %}
<div class="site-footer">
    <div>
        <a href="https://www.hopkinsmedicine.org/som/" alt="CCB"><img src="{{ pathto('_static/logos/SOM.logos.rgb_horizontal.white.webp', 1) }}" alt="SOM" width="200"></a>
        <a href="https://publichealth.jhu.edu/" alt="BSPH"><img src="{{ pathto('_static/logos/BSPH.logo.rgb_horizontal.white.webp', 1) }}"  alt="BSPH" width="200"></a>
        <a href="https://engineering.jhu.edu/" alt="WSE"><img src="{{ pathto('_static/logos/WSE.logo.rgb_horizontal.white.webp', 1) }}"  alt="WSE" width="200"></a>                
    </div>
</div>
{% endblock footer %}
