{%- if label -%}
({{ label }})=
{%- endif %}
# {{ title }} 

{% for s in software %}
({{ s.id }})=
## {{ loop.index }}. [{{ s.name }}]({{s.url}})

{{ s.description }}

**Categories:** {{ s.category | join(", ") }}  
{% if s.pmcid -%}
**Publication:** [{{ s.pmcid }}](https://pmc.ncbi.nlm.nih.gov/articles/{{ s.pmcid }}/)
{% endif %}

{% endfor %}
