/* google fonts */
body {
  font-family: "Inter", sans-serif;
}

/* Highlight search matches */
mark,
.highlighted,
.search li em,
span.highlight {
    background: #ffeb3b !important;
    color: black !important;
    padding: 2px 3px;
    border-radius: 3px;
}

/*--------------------------------------*/
/* Hide on mobile */
@media (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}

/* Hide table columns 4,5 */
@media (max-width: 768px) {
  table.responsive-table th:nth-child(4),
  table.responsive-table td:nth-child(4),
  table.responsive-table th:nth-child(5),
  table.responsive-table td:nth-child(5) {
    display: none;
  }
}

/*--------------------------------------*/
/* Alternate table row colors */
table.docutils tr:nth-child(even) {
    background-color: #d6d8da;
}

table.docutils tr:nth-child(odd) {
    background-color: white;
}

table.docutils {
    margin-left: 0 !important;
    margin-right: auto !important;
    text-align: left;
}

table.docutils td,
table.docutils th {
    text-align: left;
}

/*--------------------------------------*/
/* Smaller text in grid */
.sd-card-text,
.sd-card-text p {
    font-size: 0.9rem !important;
}

/* Background
.sd-card {    
    background-color: #e8f3ff; 
} 
*/
	
/*--------------------------------------*/
